{% extends "layout.html.twig" %}

{% block content %}
   <h1>Qu'est-ce que le Lorem Ipsum?</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis metus sit amet 
est rhoncus, at molestie enim aliquet. Vestibulum ut arcu id justo gravida eleifend at nec 
ipsum. Nullam gravida condimentum nunc, ac porta risus luctus ornare. Donec risus massa, euismod 
ac aliquam eget, finibus id odio. Vestibulum malesuada efficitur vehicula. Ut aliquet mi tortor, 
id condimentum lectus sollicitudin et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed faucibus nisl in ex dignissim, et dictum ex pretium.</p>

<div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" value="{{ indice }}" placeholder="Example input">
        </div>
{% endblock %}
